/typo3temp/
/t3lib/
/typo3/
/typo3_src/
/typo3conf/temp*
/uploads/
/typo3conf/deprecation_*
/fileadmin/_*
/fileadmin/user*
/fileadmin/partner/
/typo3conf/l10n/
/typo3conf/ENABLE_INSTALL_TOOL
gallery/
hauptbild/

