<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<script src="fileadmin/templates/js/jquery.backstretch.min.js"></script>
<script>
jQuery(function() {
 
		//Slider NewEntry
 $.backstretch([
 	"fileadmin/templates/img/bg_newEntry1.jpg",
 	"fileadmin/templates/img/bg_newEntry2.jpg",
 	"fileadmin/templates/img/bg_newEntry3.jpg"
 	], {duration: 6000, fade: 1250});

});				
</script>
<f:flashMessages />


<div class="row-fluid">
	<div id="new_overlay" class="span12">
		
		<div class="row-fluid">
			<div class="span12">
				<div id="edit">
					<h1 class="big shadow"><i class="icon-map-marker green headerbox"></i>Spot bearbeiten</h1>
					<div class="clear"></div>


					<f:form noCache="1" noCacheHash="1" method="post" controller="Spot" action="update" name="spot" object="{spot}" class="form-horizontal form-edit-spot"> 
						<f:render partial="Spot/MyFieldsEdit" arguments="{object:spot, sprachen:sprachen, zeiten:zeiten}" />	
						<div class="submit_btn">
							<f:form.submit value=" Speichern" class="btn-orange form-new" />			
						</div>								
					</f:form>
					
					<div class="contentbox" id="hauptbild">
						<h2 class="small shadow gray">Hauptbild</h2>
						<div id="upload_hauptbild" class="span12" data-uid="{spot.uid}" data-cat="Spot" data-user="{user}" data-section="hauptbild">
								<f:render partial="Spot/Hauptbild" arguments="{uid:spot.uid, cat:'Spot', user:user, section:'hauptbild'}" />
						</div>					
					</div>								
					
					<div class="contentbox shadow" id="media">
						<h2 class="small shadow gray">Bildergallery</h2>
						<div id="upload_gallery" class="span12" data-uid="{spot.uid}" data-cat="Spot" data-user="{user}" data-section="gallery">
							<f:render partial="Spot/Bildupload" arguments="{uid:spot.uid, cat:'Spot', user:user, section:'gallery'}" />
						</div>					

						<div class="contentbox_border"></div>	
					</div>								
					
			
								
				</div>				
			</div>
		</div>
		
	</div>
	

				

	</div>	
</div>




</f:section>

