<div class="usernav pull-left">
	<div class="user-icon pull-left">
		<f:if condition="{user.hauptbild}">
			<f:then>
				<f:image src="fileadmin/fileupload/server/php/{user.hauptbild}" alt="{user.username}" width="50" height="50"></f:image>
			</f:then>
			<f:else>
				<i class="icon-user blue miniprofile"></i>
			</f:else>
		</f:if>
	</div>
	<div class="user-nav pull-left">
		<ul>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#"><f:if condition="{user.firstName}"><f:then>{user.firstName} {user.lastName}</f:then><f:else>{user.username}</f:else></f:if> <i class="icon-angle-down"></i></a>
	
					<ul class="dropdown-menu">
	                  <f:comment>
	                  		<li><f:link.action pageUid="20" action="show" controller="User" arguments="{user: user}"><i></i> Profil anzeigen</f:link.action></li>
	                  </f:comment>                  	                  
	                  <f:comment>
	                  		<li><a href="#"><i></i> Dashboard</a></li>
	                  </f:comment>	                  
	                  <li><a data-show="user" data-uid="{user.uid}" class="goDetail" href="#"><i class="icon-search"></i> Profil anzeigen</a></li>
	                  <li><f:link.action pageUid="14" action="edit" controller="User" arguments="{user: user}"><i></i> Profil bearbeiten</f:link.action></li>
	                  <li><f:link.action pageUid="29"><i></i> Passwort ändern</f:link.action></li>
	                  <li><f:link.action pageUid="22"><i></i> Profil löschen</f:link.action></li>	                  	                  
	                  <li class="divider"></li>
	                  <li><a href="index.php?id=12&logintype=logout"><i></i> Logout</a></li>
	                </ul>
	        </li>
	    </ul>
	    <div class="user-group badge blue">
			 <f:for each="{user.usergroup}" as="group">
			 	<f:if condition="{group.uid} > 2">{group.title}</f:if>
			 </f:for>
		 </div>
	 </div>

</div>


