<f:layout name="Default" />
<f:section name="main">
<h1 class="big shadow"><i class="icon-user blue headerbox"></i> {result.username}</h1>
<div class="pull-right userinteraction">
		<i class="icon-heart"></i> {result.likes}
		<i class="icon-bookmark"></i> {result.favorite}
</div>
<div class="clearfix"></div>
<div class="row-fluid">
	<div class="span12">
			<div class="cycle-slideshow">
				<div class="progress blue"></div>							
				<div class="cycle-caption"></div>
			<f:for each="{result.images}" as="image">
				<f:image src="fileadmin/fileupload/server/php/{image.userid}/{image.katid}/{image.elid}/gallery/{image.name}" width="560c" height="200c" alt="{image.name}" />		
			</f:for>
			</div>
	</div>				
</div>




<ul class="nav nav-tabs" id="prevTab">
	<li class="active small gray"><h2 class="small" href="#infodaten" data-toggle="tab">Infodaten</h2></li>
	<li class="small gray"><h2 class="small" href="#user" data-toggle="tab">Freunde</h2></li>
</ul>


<div class="bg_preview">
	<div class="row-fluid">
	
	<div class="span12">
	<div class="tab-content">
		<!--Tab1-->
		<div class="tab-pane active" id="infodaten">
			<div class="span8">
			
			</div>			
			<div class="pull-right">
				<f:image src="fileadmin/fileupload/server/php/{result.hauptbild}" width="100c" height="100c" alt="{result.name}" class="thumbnail" />
			</div>		

		</div>
		<!--Tab2-->
		<div class="tab-pane" id="user">
			<h3>Freunde <span class="badge count">{result.friends}</span></h3>
			<f:for each="{user.student}" as="users">
				<div class="thumbnail user" style="width: 60px;">{users.userid} {users.username}</div>
				<f:image src="fileadmin/fileupload/server/php/{users.hauptbild}" width="50c" height="50c" alt="{image.name}" class="goPreview" additionalAttributes="{data-show:'user',data-uid:users.userid}" />
			</f:for>
			
			<h3>Besucher <span class="badge count">{result.wasthere}</span></h3>

			<f:for each="{user.wasthere}" as="users">
				<div class="thumbnail user" style="width: 60px;">{users.userid} {users.username}</div>
				<f:image src="fileadmin/fileupload/server/php/{users.hauptbild}" width="50c" height="50c" alt="{image.name}" class="goPreview" additionalAttributes="{data-show:'user',data-uid:users.userid}" />
			</f:for>
			
		</div>		
	
</div>	
	
	<div class="row-fluid">
	<div class="span12" style="position: absolute; bottom: 20px;">
	<div class="pull-left">
		<button type="button" class="btn-gray" data-dismiss="modal" aria-hidden="true"><i class="icon-eye-close"></i> Close</button>
	</div>
	<div class="pull-right" style="margin-right: 30px;">
		<a href="#" class="goDetail btn-gray" data-dismiss="modal" aria-hidden="true" data-uid="{result.uid}" data-show="user"><i class="icon-search"></i> Detail</a>			
	</div>
	</div>
	</div>

	<div class="contentbox_border"></div>					    				
	</div>
</div>

<script>
    $('#myTab a').click(function (e) {
	    e.preventDefault();
	    $(this).tab('show');
    })


	if ($('.cycle-slideshow').length > 0) {
		$('.cycle-slideshow').cycle({
		    speed: 2000,
		    manualSpeed: 800,
		    timeout: 3000,
		    fx:'fade',
		    centerHorz:true,
			pager:'.cycle-pager',
			pauseOnHover:false
		    
		});	
	}	

var progress = $('.progress'),
    slideshow = $( '.cycle-slideshow' );

slideshow.on( 'cycle-initialized cycle-before', function( e, opts ) {
    progress.stop(true).css( 'width', 0 );
});

slideshow.on( 'cycle-initialized cycle-after', function( e, opts ) {
    if ( ! slideshow.is('.cycle-paused') )
        progress.animate({ width: '100%' }, opts.timeout, 'linear' );
});

slideshow.on( 'cycle-paused', function( e, opts ) {
   progress.stop(); 
});

slideshow.on( 'cycle-resumed', function( e, opts, timeoutRemaining ) {
    progress.animate({ width: '100%' }, timeoutRemaining, 'linear' );
});

$( document ).ready(function() {
	$(".chzn-select").chosen({width: "95%"}); 
	$('.search-field').remove();
	$('.chzn-drop').remove();	
	$('.search-choice-close').remove();		
});


</script>
</f:section>