<div id="usernav">
	<a role="button" data-toggle="modal" href="#login_window" class="btn-orange"><i class="icon-user"></i> Anmelden</a>
</div>
 
<!-- Login Start -->
<div id="login_window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Modal header</h3>
	</div>
	<div class="modal-body">
		<p>One fine body…</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary">Save changes</button>
	</div>
</div>
<!-- Login End -->


<div class="navbar navbar-fixed-top">
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    
	    <div class="nav-collapse collapse">
            <ul id="mainnav" class="pull-right">
				<f:cObject typoscriptObjectPath="marker.topnav" />
            </ul>                              
		</div><!--/.nav-collapse -->

   
		<div class="row-fluid">
			<div class="span12">
				<div id="header">
					<div id="logo" class="pull-left">
						<f:cObject typoscriptObjectPath="lib.logo" />
					</div>
				</div>
			</div>
		</div>

		<div class="row-fluid ">
			<div class="span12">  
				<div id="top_trenner"></div>
			</div>
		</div>   
</div>





<div class="fluid-container">	

<div id="slider">
	<div id="bannerscollection_zoominout_opportune">
    	<div class="myloader"></div>
	        <!-- CONTENT -->
	        <ul class="bannerscollection_zoominout_list">
	       		<li data-horizontalPosition="center" data-verticalPosition="top" data-bottom-thumb="fileadmin/templates/img/sp_1.jpg">
	       			<img src="fileadmin/templates/img/sp_1.jpg" alt="" width="2500" height="782" />
	       		</li>
	       		<li data-horizontalPosition="center" data-verticalPosition="top" data-bottom-thumb="fileadmin/templates/img/sp_2.jpg">
	       			<img src="fileadmin/templates/img/sp_2.jpg" alt="" width="2500" height="782" />
	       		</li>     			               		
		   	</ul>                               
	   	</div>  
	</div> 
	<div id="sp_search" class="span6 offset2">
		<h1 class="header1 shadow">Kitesurfing</h1>
		<div class="sp_search_wrap">
			<div class="sp_search_text">
				Finde dein Traumspot, eine passende Schule uvm. 
				Alles was du zum Kiten brauchst...			
			</div>
			<div class="input-prepend">
              <span class="orange"><i class="icon-user"></i> Wer?</span>
              <input type="text" placeholder="z.B. Tommy Friedel" id="who" class="span4">
            </div>
			<div class="input-prepend">            
              <span class="orange"><i class="icon-globe"></i> Wo?</span>
              <input type="text" placeholder="z.B. Mein Standort..." id="where" class="span4">              
			</div>
			<div class="sp_icons">
			    <div class="btn-group" data-toggle="buttons-checkbox">
				    <button type="button" class="btn btn_check btn_school active"><i class="icon-bullhorn"></i></button>
					<button type="button" class="btn btn_check btn_spot active"><i class="icon-map-marker"></i></button>
					<button type="button" class="btn btn_check btn_user"><i class="icon-user"></i></button>
					<button type="button" class="btn btn_check btn_house"><i class="icon-home"></i></button>
					<button type="button" class="btn btn_check btn_shop"><i class="icon-shopping-cart"></i></button>										
			    </div>			
			    <!--
				<a href="#" class="btn_check btn_school"><i class="icon-bullhorn"></i></a>
				<a href="#" class="btn_check btn_spot"><i class="icon-map-marker"></i></a>
				<a href="#" class="btn_check btn_user"><i class="icon-user"></i></a>
				<a href="#" class="btn_check btn_house"><i class="icon-home"></i></a>
				<a href="#" class="btn_check btn_shop"><i class="icon-shopping-cart"></i></a>
				-->
			</div>
			<div class="sp_submit">
				<a href="#" class="btn-orange"><i class="icon-eye-open"></i> Anzeigen <i class="icon-double-angle-right"></i></a>
			</div>
		</div>
	</div>	 	
</div>




<div class="fluid-container">	
	<div class="row-fluid">
		<div class="span12">  
			<div id="slider_trenner"></div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">  
			<div class="content">
				<div id="newEntrys">
					<h2 class="header2">Neuste Einträge</h2>
				</div>
			</div>
		</div>
	</div>



	<div class="row-fluid">
		<div class="span12">  
			<div id="bottom_trenner"></div>
		</div>
	</div>		
</div>


