<table class="tx-t3d-kitecom" >
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.name" />
		</td>
		<td>
			{spot.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.ort" />
		</td>
		<td>
			{spot.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.stadt" />
		</td>
		<td>
			{spot.stadt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.land" />
		</td>
		<td>
			{spot.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.anfaenger" />
		</td>
		<td>
			{spot.anfaenger}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.fortgeschrittene" />
		</td>
		<td>
			{spot.fortgeschrittene}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.profis" />
		</td>
		<td>
			{spot.profis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.hauptbild" />
		</td>
		<td>
			{spot.hauptbild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.flachwasser" />
		</td>
		<td>
			{spot.flachwasser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.rettungsdienst" />
		</td>
		<td>
			{spot.rettungsdienst}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.wellen" />
		</td>
		<td>
			{spot.wellen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.schule" />
		</td>
		<td>
			{spot.schule}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.parkplatz" />
		</td>
		<td>
			{spot.parkplatz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.startlandehilfe" />
		</td>
		<td>
			{spot.startlandehilfe}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.grossereinstieg" />
		</td>
		<td>
			{spot.grossereinstieg}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.sandplatz" />
		</td>
		<td>
			{spot.sandplatz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.wc" />
		</td>
		<td>
			{spot.wc}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.stehrevier" />
		</td>
		<td>
			{spot.stehrevier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.beschreibung" />
		</td>
		<td>
			{spot.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.regeln" />
		</td>
		<td>
			{spot.regeln}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.lat" />
		</td>
		<td>
			{spot.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.lng" />
		</td>
		<td>
			{spot.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.webcam" />
		</td>
		<td>
			{spot.webcam}
		</td>
	</tr>
</table>