<script>
$('#map_full').hide();
$('#container').show();
$('#list').hide();
</script>
<!-- User Template -->
<f:for each="{searchresult_user}" as="result" iteration="number">
    <div class="thumbnail item item_image user
	<f:if condition="{result.gender != ''}">gender{result.gender}</f:if>
	
	" data-category="user" data-name="{result.username}" data-uid="{result.uid}" id="user{result.uid}" data-lat="{result.lat}" data-lng="{result.lng}" data-kat="user">
	<div class="batch user bg_user">User</div>
	<div class="hovercontent contenthover_user">
	</div>		
		<div class="theimage">
			<img height="165" width="246" alt="246x165" src="fileadmin/templates/img/platzhalter_user.jpg" style="width: 246px; height: 165px;">
		</div>
		
		
	<div class="userinteractions">
		<i class="icon-heart"></i> {result.likes}
		<i class="icon-bookmark"></i> {result.favorite}
	</div>
			
	<div class="caption">
	    <h3>USER {result.username}</h3>
	    <p>{result.first_name}</p>
	    <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
	  </div>
	<div class="item_footer">
		<div class="country">{result.land}, {result.ort}</div>	
		<div class="distance pull-right"></div>	    	    
	</div>	  
	</div>
</f:for>


<!-- Spot Template -->
<f:for each="{searchresult_spot}" as="result" iteration="number">
<div class="thumbnail item item_image spot
	
	<f:if condition="{result.rettungsdienst}">rettungsdienst</f:if>		
	<f:if condition="{result.flachwasser}">flachwasser</f:if>
	<f:if condition="{result.wellen}">wellen</f:if>
	<f:if condition="{result.schule}">schule</f:if>	
	<f:if condition="{result.parkplatz}">parkplatz</f:if>
	<f:if condition="{result.startlandehilfe}">startlandehilfe</f:if>	
	<f:if condition="{result.grossereinstieg}">grossereinstieg</f:if>	
	<f:if condition="{result.sandplatz}">sandplatz</f:if>			
	<f:if condition="{result.wc}">wc</f:if>				
	<f:if condition="{result.stehrevier}">stehrevier</f:if>					
	
	" data-category="spot" data-name="{result.name}" data-uid="{result.uid}" data-lat="{result.lat}" data-rating="{result.likes}" id="spot{result.uid}" data-lng="{result.lng}" id="spot{result.uid}" data-kat="spot">

	<div class="batch spot bg_spot">Spot</div>		
	<div class="hovercontent contenthover_spot">
	<!--
	    <p><a href="#" class="iLike btn" data-uid="{result.uid}" data-show="spot"><i class="icon-heart"></i> Like</a></p>	
	    <p><a href="#" class="myVisitedPlace btn" data-uid="{result.uid}" data-show="spot"><i class="icon-flag-checkered"></i> Ich war hier</a></p>	
	    <p><a href="#" class="local btn" data-uid="{result.uid}" data-show="spot"><i class="icon-pushpin"></i> Ich bin Local</a></p>	
	    <p><a href="#" class="myFavorit btn" data-uid="{result.uid}" data-show="spot"><i class="icon-bookmark-empty"></i> Mein Favorit</a></p>
	
	    <p>
	    	<a href="#" class="goPreview btn gray" data-uid="{result.uid}" data-show="spot"><i class="icon-eye-open"></i> Vorachau</a>
		    <a href="#" class="goDetail btn gray" data-uid="{result.uid}" data-show="spot"><i class="icon-search"></i> Detail</a>
		</p>
	-->		
	</div>		

	<f:if condition="{result.hauptbild}">
	<f:then>
		<div class="theimage"><img height="165" width="246" alt="246x165" src="fileadmin/fileupload/server/php/{result.hauptbild}" style="width: 246px; height: 169px;"></div>
	</f:then>
	<f:else>
			<div class="theimage"><img height="165" width="246" alt="246x165" src="fileadmin/templates/img/platzhalter_spot.jpg" style="width: 246px; height: 165px;">	</div>
	</f:else>

	</f:if>	
	
	<div class="userinteractions">
		<i class="icon-heart"></i> {result.likes}
		<i class="icon-flag"></i> {result.wasthere}
		<i class="icon-pushpin"></i> {result.local}							
		<i class="icon-bookmark"></i> {result.favorite}
	</div>
	
	<div class="desc">
	    <h3>{result.name}</h3>
	    <div class="attribute">
			<div class="attribut{result.flachwasser}"><f:if condition="{result.flachwasser}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Flachwasser</div>
	    	<div class="attribut{result.rettungsdienst}"><f:if condition="{result.rettungsdienst}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Rettungsdienst</div>
	    	<div class="attribut{result.wellen}"><f:if condition="{result.wellen}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Wellen</div>
	    	<div class="attribut{result.schule}"><f:if condition="{result.schule}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Schule</div>
			<div class="attribut{result.parkplatz}"><f:if condition="{result.parkplatz}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Parkplatz</div>	    	
			<div class="attribut{result.startlandehilfe}"><f:if condition="{result.startlandehilfe}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Start-/Landehilfe</div>
			<div class="attribut{result.grossereinstieg}"><f:if condition="{result.grossereinstieg}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Grosser Einstieg</div>	 
			<div class="attribut{result.sandplatz}"><f:if condition="{result.sandplatz}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Sandplatz</div>	 			   							
			<div class="attribut{result.wc}"><f:if condition="{result.wc}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> WC</div>	 			   										
			<div class="attribut{result.stehrevier}"><f:if condition="{result.stehrevier}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Stehrevier</div>	
			
			
	    </div>
	</div>
	<div class="item_footer">
		<div class="country">{result.land}, {result.ort}</div>	
		<div class="distance pull-right"></div>	    	    
	</div>
	
</div>
	<script>
		var mydistance = distance("{result.lat}","{result.lng}");
		$("#spot{result.uid} .distance").text(mydistance);

		
	</script>	
</f:for>



<!-- Schule template -->

<f:for each="{searchresult_school}" as="result" iteration="number">
	<div class="thumbnail item item_image school
	
	<f:if condition="{result.strandhelfer}">strandhelfer</f:if>
	<f:if condition="{result.rettungsdienst}">rettungsdienst</f:if>
	<f:if condition="{result.prokiter}">prokiter</f:if>	
	<f:if condition="{result.kitesafari}">kitesafari</f:if>		
	<f:if condition="{result.flachwasser}">flachwasser</f:if>			
	<f:if condition="{result.fotoservice}">fotoservice</f:if>			
	<f:if condition="{result.lager}">lager</f:if>			
	<f:if condition="{result.materialmiete}">materialmiete</f:if>			
	<f:if condition="{result.stehrevier}">stehrevier</f:if>			
	<f:if condition="{result.shop}">shop</f:if>			
	
	" data-category="school" data-name="{result.name}" data-uid="{result.uid}" id="school{result.uid}" data-rating="{result.likes}" data-lat="{result.lat}" data-lng="{result.lng}" data-kat="schule">
	<div class="batch school bg_school">Schule</div>
	<div class="hovercontent contenthover_school">
	<!--
	    <p><a href="#" class="iLike btn" data-uid="{result.uid}" data-show="schule"><i class="icon-heart"></i> Like</a></p>	
	    <p><a href="#" class="myVisitedPlace btn" data-uid="{result.uid}" data-show="schule"><i class="icon-flag"></i> Ich war hier</a></p>
		<p><a href="#" class="myStudy btn" data-uid="{result.uid}" data-show="schule"><i class="icon-group"></i> Ich war Schüler</a></p>	    	
	    <p><a href="#" class="myFavorit btn" data-uid="{result.uid}" data-show="schule"><i class="icon-bookmark"></i> Mein Favorit</a></p>
	 
	    <p>
	    	<a href="#" class="goPreview btn gray" data-uid="{result.uid}" data-show="schule"><i class="icon-eye-open"></i> Vorschau</a>
		    <a href="#" class="goDetail btn gray" data-uid="{result.uid}" data-show="schule"><i class="icon-search"></i> Detail</a>
		</p>
	-->		
	</div>		
	
	<f:if condition="{result.hauptbild}">
	<f:then>
		<div class="theimage"><img height="165" width="246" alt="246x165" src="fileadmin/fileupload/server/php/{result.hauptbild}" style="width: 246px; height: 169px;"></div>
	</f:then>
	<f:else>
		<div class="theimage"><img height="165" width="246" alt="246x165" src="fileadmin/templates/img/platzhalter_schule.jpg" style="width: 246px; height: 165px;"></div>
	</f:else>
	</f:if>

	<div class="userinteractions">
		<i class="icon-heart"></i> {result.likes}
		<i class="icon-flag"></i> {result.wasthere}
		<i class="icon-group"></i> {result.student}							
		<i class="icon-bookmark"></i> {result.favorite}
	</div>
	<div class="desc">
	    <h3>{result.name}</h3>
		<div class="attribute">
			<div class="attribut{result.rettungsdienst}"><f:if condition="{result.rettungsdienst}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Rettungsdienst</div>
			<div class="attribut{result.strandhelfer}"><f:if condition="{result.strandhelfer}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Strandhelfer</div>
			<div class="attribut{result.prokiter}"><f:if condition="{result.prokiter}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Prokiter als Lehrer</div>
			<div class="attribut{result.kitesafari}"><f:if condition="{result.kitesafari}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Kitesafari</div>
			<div class="attribut{result.flachwasser}"><f:if condition="{result.flachwasser}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Flachwasser</div>			
			<div class="attribut{result.fotoservice}"><f:if condition="{result.fotoservice}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Fotoservice</div>						
			<div class="attribut{result.lager}"><f:if condition="{result.lager}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Lagermöglichkeiten</div>									
			<div class="attribut{result.materialmiete}"><f:if condition="{result.materialmiete}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Materialmiete</div>									
			<div class="attribut{result.stehrevier}"><f:if condition="{result.stehrevier}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Stehrevier</div>															
			<div class="attribut{result.shop}"><f:if condition="{result.shop}"><f:then><i class="icon-ok-sign" /></f:then><f:else><i class="icon-minus-sign" /></f:else></f:if> Shop</div>																		
			<f:link.action pageUid="9" action="edit" controller="Schule" arguments="{schule : result.uid}">Edit</f:link.action>
		</div>
	</div>
	<div class="item_footer">
		<div class="country">{result.land}, {result.ort}</div>	
		<div class="distance pull-right"></div>	    	    
	</div>	  
	</div>
	<script>
		var mydistance = distance("{result.lat}","{result.lng}");
		$("#school{result.uid} .distance").text(mydistance);
	</script>
</f:for>