<div class="row-fluid headerdata">
	<div class="span2">
		<div class="wrap_icons">
			    Anzeigen <a title="" class="mytooltips" data-placement="right" data-toggle="tooltip" href="#" data-original-title="Wähle hier deine Kategorien aus."><i class="icon-info-sign"></i></a><br>
			<f:render partial="Search/Icons" />
		</div>
	</div>
	<div class="span10" style="margin-left:0px;">
		<div class="auflistung" style="float:left;">
			Auflistung <i class="icon-info-sign"></i><br>
			<f:render partial="Search/Auflistung" />
		</div>
		<div class="span4">
			Sortierung <i class="icon-info-sign"></i><br>
			<f:render partial="Search/Sortierung" />	
		</div>
	</div>
</div>
<div class="row-fluid hideForDetail">
	<div class="span12 filter">
		<div style="float:left;margin-right: 5px;">Filter:</div>
		<div id="mysearchfilters"></div>
		<div id="myfilters" style="float:left;"></div> 
		<a class="clearAll" href="#"><i class="icon-trash"></i> Alle löschen</a>
	</div>
</div>