<label for="name">
	<f:translate key="tx_t3dkitecom_domain_model_schule.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="beschreibung">
	<f:translate key="tx_t3dkitecom_domain_model_schule.beschreibung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="ort">
	<f:translate key="tx_t3dkitecom_domain_model_schule.ort" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="lat">
	<f:translate key="tx_t3dkitecom_domain_model_schule.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_t3dkitecom_domain_model_schule.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="rettungsdienst">
	<f:translate key="tx_t3dkitecom_domain_model_schule.rettungsdienst" />
</label><br />
	<f:form.checkbox property="rettungsdienst" value="1" /><br />
<label for="strandhelfer">
	<f:translate key="tx_t3dkitecom_domain_model_schule.strandhelfer" />
</label><br />
	<f:form.checkbox property="strandhelfer" value="1" /><br />
<label for="prokiter">
	<f:translate key="tx_t3dkitecom_domain_model_schule.prokiter" />
</label><br />
	<f:form.checkbox property="prokiter" value="1" /><br />
<label for="kitesafari">
	<f:translate key="tx_t3dkitecom_domain_model_schule.kitesafari" />
</label><br />
	<f:form.checkbox property="kitesafari" value="1" /><br />
<label for="flachwasser">
	<f:translate key="tx_t3dkitecom_domain_model_schule.flachwasser" />
</label><br />
	<f:form.checkbox property="flachwasser" value="1" /><br />
<label for="fotoservice">
	<f:translate key="tx_t3dkitecom_domain_model_schule.fotoservice" />
</label><br />
	<f:form.checkbox property="fotoservice" value="1" /><br />
<label for="lager">
	<f:translate key="tx_t3dkitecom_domain_model_schule.lager" />
</label><br />
	<f:form.checkbox property="lager" value="1" /><br />
<label for="materialmiete">
	<f:translate key="tx_t3dkitecom_domain_model_schule.materialmiete" />
</label><br />
	<f:form.checkbox property="materialmiete" value="1" /><br />
<label for="stehrevier">
	<f:translate key="tx_t3dkitecom_domain_model_schule.stehrevier" />
</label><br />
	<f:form.checkbox property="stehrevier" value="1" /><br />
<label for="shop">
	<f:translate key="tx_t3dkitecom_domain_model_schule.shop" />
</label><br />
	<f:form.checkbox property="shop" value="1" /><br />
<label for="schulungsmaterial">
	<f:translate key="tx_t3dkitecom_domain_model_schule.schulungsmaterial" />
</label><br />
	<f:form.textfield property="schulungsmaterial" /><br />
<label for="verleihmaterial">
	<f:translate key="tx_t3dkitecom_domain_model_schule.verleihmaterial" />
</label><br />
	<f:form.textfield property="verleihmaterial" /><br />
<label for="media">
	<f:translate key="tx_t3dkitecom_domain_model_schule.media" />
</label><br />
	<f:form.textfield property="media" /><br />
<label for="team">
	<f:translate key="tx_t3dkitecom_domain_model_schule.team" />
</label><br />
	<f:form.textfield property="team" /><br />
<label for="tel">
	<f:translate key="tx_t3dkitecom_domain_model_schule.tel" />
</label><br />
	<f:form.textfield property="tel" /><br />
<label for="email">
	<f:translate key="tx_t3dkitecom_domain_model_schule.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="hauptmarke">
	<f:translate key="tx_t3dkitecom_domain_model_schule.hauptmarke" />
</label><br />
	<f:form.textfield property="hauptmarke" /><br />
<label for="hauptbild">
	<f:translate key="tx_t3dkitecom_domain_model_schule.hauptbild" />
</label><br />
	<f:form.textfield property="hauptbild" /><br />
<label for="webcam">
	<f:translate key="tx_t3dkitecom_domain_model_schule.webcam" />
</label><br />
	<f:form.textfield property="webcam" /><br />
<label for="stadt">
	<f:translate key="tx_t3dkitecom_domain_model_schule.stadt" />
</label><br />
	<f:form.textfield property="stadt" /><br />
<label for="land">
	<f:translate key="tx_t3dkitecom_domain_model_schule.land" />
</label><br />
	<f:form.textfield property="land" /><br />
<label for="url">
	<f:translate key="tx_t3dkitecom_domain_model_schule.url" />
</label><br />
	<f:form.textfield property="url" /><br />
<label for="adresse">
	<f:translate key="tx_t3dkitecom_domain_model_schule.adresse" />
</label><br />
	<f:form.textarea property="adresse" cols="40" rows="15" /><br />
<label for="sprachen">
	<f:translate key="tx_t3dkitecom_domain_model_schule.sprachen" />
</label><br />
	<f:form.textarea property="sprachen" cols="40" rows="15" /><br />
<label for="zeiten">
	<f:translate key="tx_t3dkitecom_domain_model_schule.zeiten" />
</label><br />
	<f:form.textarea property="zeiten" cols="40" rows="15" /><br />