<table class="tx-t3d-kitecom" >
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.name" />
		</td>
		<td>
			{schule.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.beschreibung" />
		</td>
		<td>
			{schule.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.ort" />
		</td>
		<td>
			{schule.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.lat" />
		</td>
		<td>
			{schule.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.lng" />
		</td>
		<td>
			{schule.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.rettungsdienst" />
		</td>
		<td>
			{schule.rettungsdienst}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.strandhelfer" />
		</td>
		<td>
			{schule.strandhelfer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.prokiter" />
		</td>
		<td>
			{schule.prokiter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.kitesafari" />
		</td>
		<td>
			{schule.kitesafari}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.flachwasser" />
		</td>
		<td>
			{schule.flachwasser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.fotoservice" />
		</td>
		<td>
			{schule.fotoservice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.lager" />
		</td>
		<td>
			{schule.lager}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.materialmiete" />
		</td>
		<td>
			{schule.materialmiete}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.stehrevier" />
		</td>
		<td>
			{schule.stehrevier}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.shop" />
		</td>
		<td>
			{schule.shop}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.schulungsmaterial" />
		</td>
		<td>
			{schule.schulungsmaterial}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.verleihmaterial" />
		</td>
		<td>
			{schule.verleihmaterial}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.media" />
		</td>
		<td>
			{schule.media}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.team" />
		</td>
		<td>
			{schule.team}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.tel" />
		</td>
		<td>
			{schule.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.email" />
		</td>
		<td>
			{schule.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.hauptmarke" />
		</td>
		<td>
			{schule.hauptmarke}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.hauptbild" />
		</td>
		<td>
			{schule.hauptbild}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.webcam" />
		</td>
		<td>
			{schule.webcam}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.stadt" />
		</td>
		<td>
			{schule.stadt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.land" />
		</td>
		<td>
			{schule.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.url" />
		</td>
		<td>
			{schule.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.adresse" />
		</td>
		<td>
			{schule.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.sprachen" />
		</td>
		<td>
			{schule.sprachen}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_schule.zeiten" />
		</td>
		<td>
			{schule.zeiten}
		</td>
	</tr>
</table>