
<div class="hideForDetail leftdata collapse in width" id="filterWindow">

	<button role="button" class="btn-gray collapse-filter" data-toggle="collapse" data-target="#filterWindow">
	<i class="icon-indent-left"></i>
    </button>
    
	<div class="accordion" id="filterWrap">	
		<!-- Map Overview -->
		<div id="map_overview"></div>

		<div class="accordion-group school">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#filterWrap" href="#collapse1">
					 Schulen <i class="pull-right icon-angle-left"></i>
				</a>
			</div>
			<div id="collapse1" class="accordion-body collapse">
				<div class="accordion-inner">
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="rettungsdienst" value="Rettungsdienst"/> Rettungsdienst<span class="badge pull-right count pink"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="strandhelfer" value="Strandhelfer"/> Strandhelfer<span class="badge pull-right count pink"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="prokiter" value="Prokiter"/> Prokiter als Lehrer<span class="badge pull-right count pink"></span></label>	
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="kitesafari" value="Kitesafari"/> Kitesafari<span class="badge pull-right count pink"></span></label>		
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="flachwasser" value="Flachwasser"/> Flachwasser<span class="badge pull-right count pink"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="fotoservice" value="Fotoservice"/> Fotoservice<span class="badge pull-right count pink"></label>						
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="lager" value="Lager"/> Lager<span class="badge pull-right count pink"></label>											
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="materialmiete" value="Materialmiete"/> Materialmiete<span class="badge pull-right count pink"></label>				
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="stehrevier" value="Stehrevier"/> Stehrevier<span class="badge pull-right count pink"></label>							
					<label class="checkbox"><input type="checkbox" name="type" data-category="school" data-filter="shop" value="Shop"/> Shop<span class="badge pull-right count pink"></label>												
				</div>
			</div>
		</div>

		<div class="accordion-group spot">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#filterWrap" href="#collapse3">
					 Spots <i class="pull-right icon-angle-left "></i>
				</a>
			</div>
			
			<div id="collapse3" class="accordion-body collapse">
				<div class="accordion-inner">
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="anfaenger" value="Anfaenger"/> Anfänger <span class="badge pull-right count green"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="fortgeschrittene" value="Fortgeschrittene"/> Fortgeschrittene <span class="badge pull-right count green"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="profis" value="Profis"/> Profis <span class="badge pull-right count green"></span></label>					
					<hr>
					
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="flachwasser" value="Flachwasser"/> Flachwasser <span class="badge pull-right count green"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="rettungsdienst" value="Rettungsdienst"/> Rettungsdienst <span class="badge pull-right count green"></span></label>
					
					
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="wellen" value="Wellen"/> Wellen <span class="badge pull-right count green"></span></label>		
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="schule" value="Schule"/> Schule <span class="badge pull-right count green"></label>										
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="parkplatz" value="Parkplatz"/> Parkplatz <span class="badge pull-right count green"></label>								
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="startlandehilfe" value="Start-und Landehilfe"/> Start-und Landehilfe <span class="badge pull-right count green"></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="grossereinstieg" value="Grosser Einstieg"/> Grosser Einstieg <span class="badge pull-right count green"></label>	
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="sandplatz" value="Sandplatz"/> Sandplatz <span class="badge pull-right count green"></label>								
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="wc" value="WC"/> WC <span class="badge pull-right count green"></label>												
					<label class="checkbox"><input type="checkbox" name="type" data-category="spot" data-filter="stehrevier" value="Stehrevier"/> Stehrevier <span class="badge pull-right count green"></label>																																					
				</div>
			</div>
		</div>

		<div class="accordion-group user">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#filterWrap" href="#collapse2">
					 User <i class="pull-right icon-angle-left"></i>
				</a>
			</div>
			
			<div id="collapse2" class="accordion-body collapse">
				<div class="accordion-inner">
					<label class="checkbox"><input type="checkbox" name="type" data-category="user" data-filter="gender0" value="gender0"/> Mann <span class="badge pull-right count blue"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="user" data-filter="gender1" value="gender1"/> Frau <span class="badge pull-right count blue"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="user" data-filter="jobsearch" value="jobsearch"/> Sucht Job als Kitelehrer <span class="badge pull-right count blue"></span></label>
					<label class="checkbox"><input type="checkbox" name="type" data-category="user" data-filter="schlafmoeglichkei" value="schlafmoeglichkei"/> Bietet Schlafmöglichkeit <span class="badge pull-right count blue"></span></label>					
				</div>
			</div>
		</div>


		<div class="accordion-group house">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#filterWrap" href="#collapse4">
					 Unterkünfte <i class="pull-right icon-angle-left"></i>
				</a>
			</div>
			
			<div id="collapse4" class="accordion-body collapse">
				<div class="accordion-inner">
					<label class="checkbox"><input type="checkbox" name="kanton" value="Aargau"/> Aargau</label>
					<label class="checkbox"><input type="checkbox" name="kanton" value="Appenzell Ausserrhoden"/> Appenzell Ausserrhoden</label>
					<label class="checkbox"><input type="checkbox" name="kanton" value="Appenzell Innerrhoden"/> Appenzell Innerrhoden</label>
				</div>
			</div>
		</div>		

		<div class="accordion-group shop">
			<div class="accordion-heading">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#filterWrap" href="#collapse5">
					 Shops <i class="pull-right icon-angle-left"></i>
				</a>
			</div>
			
			<div id="collapse5" class="accordion-body collapse">
				<div class="accordion-inner">
					<label class="checkbox"><input type="checkbox" name="kanton" value="Aargau"/> Aargau</label>
					<label class="checkbox"><input type="checkbox" name="kanton" value="Appenzell Ausserrhoden"/> Appenzell Ausserrhoden</label>
					<label class="checkbox"><input type="checkbox" name="kanton" value="Appenzell Innerrhoden"/> Appenzell Innerrhoden</label>
				</div>
			</div>
		</div>		

		
		
		
	</div>
</div>