<!-- Modal for Preview -->
<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="previewModal">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="preview">
					<h1>Kitecom.net ist kostenlos!</h1>
					<h2 class="small gray">Preview</h2>
					<div class="bg_preview">
						<h3>Anmelden mit Kitecom.net Profil</h3>
							<div id="previewPage"></div>
							<div class="contentbox_border"></div>					    				
				    </div>
				</div>
			</div>
		</div>
</div>

<!-- Modal for Detail -->
<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade in" id="detailModal">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div id="detailPage"></div>
			</div>
		</div>
</div>


