<div class="btn-group category" data-toggle="buttons-checkbox">
    <input type="checkbox" name="show[]" id="check_school" value="school" />
	    <label data-show="school" for="check_school" class="btn btn_check btn_school"><i class="icon-bullhorn"></i></label>
    <input type="checkbox" name="show[]" id="check_spot" value="spot" />
    	<label data-show="spot" for="check_spot" class="btn btn_check btn_spot"><i class="icon-map-marker"></i></label>
    <input type="checkbox" name="show[]" id="check_user" value="user"  />
	    <label data-show="user" for="check_user" class="btn btn_check btn_user"><i class="icon-user"></i></label>
    <input type="checkbox" name="show[]" id="check_house" value="house" />
    	<label data-show="house" for="check_house" class="btn btn_check btn_house"><i class="icon-home"></i></label>    
    <input type="checkbox" name="show[]" id="check_shop" value="shop" />
	    <label data-show="shop" for="check_shop" class="btn btn_check btn_shop"><i class="icon-shopping-cart"></i></label>        
    
</div>
<style>
.btn-group.category > input {
    display: none;
}
</style>



<!--        
    <button type="button" name="show" ng-model="school" class="btn btn_check btn_school" data-show="school"><i class="icon-bullhorn"></i></button>
	<button type="button" name="show" ng-model="spot" class="btn btn_check btn_spot" data-show="spot"><i class="icon-map-marker"></i></button>
	<button type="button" name="show" ng-model="user" class="btn btn_check btn_user active" data-show="user"><i class="icon-user"></i></button>
	<button type="button" name="show" ng-model="house" class="btn btn_check btn_house" data-show="house"><i class="icon-home"></i></button>
	<button type="button" name="show" ng-model="shop" class="btn btn_check btn_shop" data-show="shop"><i class="icon-shopping-cart"></i></button>										
-->
