<label for="name">
	<f:translate key="tx_t3dkitecom_domain_model_spot.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="ort">
	<f:translate key="tx_t3dkitecom_domain_model_spot.ort" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="stadt">
	<f:translate key="tx_t3dkitecom_domain_model_spot.stadt" />
</label><br />
	<f:form.textfield property="stadt" /><br />
<label for="land">
	<f:translate key="tx_t3dkitecom_domain_model_spot.land" />
</label><br />
	<f:form.textfield property="land" /><br />
<label for="anfaenger">
	<f:translate key="tx_t3dkitecom_domain_model_spot.anfaenger" />
</label><br />
	<f:form.checkbox property="anfaenger" value="1" /><br />
<label for="fortgeschrittene">
	<f:translate key="tx_t3dkitecom_domain_model_spot.fortgeschrittene" />
</label><br />
	<f:form.checkbox property="fortgeschrittene" value="1" /><br />
<label for="profis">
	<f:translate key="tx_t3dkitecom_domain_model_spot.profis" />
</label><br />
	<f:form.checkbox property="profis" value="1" /><br />
<label for="hauptbild">
	<f:translate key="tx_t3dkitecom_domain_model_spot.hauptbild" />
</label><br />
	<f:form.upload property="hauptbild" /><br />
<label for="flachwasser">
	<f:translate key="tx_t3dkitecom_domain_model_spot.flachwasser" />
</label><br />
	<f:form.checkbox property="flachwasser" value="1" /><br />
<label for="rettungsdienst">
	<f:translate key="tx_t3dkitecom_domain_model_spot.rettungsdienst" />
</label><br />
	<f:form.checkbox property="rettungsdienst" value="1" /><br />
<label for="wellen">
	<f:translate key="tx_t3dkitecom_domain_model_spot.wellen" />
</label><br />
	<f:form.checkbox property="wellen" value="1" /><br />
<label for="schule">
	<f:translate key="tx_t3dkitecom_domain_model_spot.schule" />
</label><br />
	<f:form.checkbox property="schule" value="1" /><br />
<label for="parkplatz">
	<f:translate key="tx_t3dkitecom_domain_model_spot.parkplatz" />
</label><br />
	<f:form.checkbox property="parkplatz" value="1" /><br />
<label for="startlandehilfe">
	<f:translate key="tx_t3dkitecom_domain_model_spot.startlandehilfe" />
</label><br />
	<f:form.checkbox property="startlandehilfe" value="1" /><br />
<label for="grossereinstieg">
	<f:translate key="tx_t3dkitecom_domain_model_spot.grossereinstieg" />
</label><br />
	<f:form.checkbox property="grossereinstieg" value="1" /><br />
<label for="sandplatz">
	<f:translate key="tx_t3dkitecom_domain_model_spot.sandplatz" />
</label><br />
	<f:form.checkbox property="sandplatz" value="1" /><br />
<label for="wc">
	<f:translate key="tx_t3dkitecom_domain_model_spot.wc" />
</label><br />
	<f:form.checkbox property="wc" value="1" /><br />
<label for="stehrevier">
	<f:translate key="tx_t3dkitecom_domain_model_spot.stehrevier" />
</label><br />
	<f:form.checkbox property="stehrevier" value="1" /><br />
<label for="beschreibung">
	<f:translate key="tx_t3dkitecom_domain_model_spot.beschreibung" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="beschreibung" cols="40" rows="15" /><br />
<label for="regeln">
	<f:translate key="tx_t3dkitecom_domain_model_spot.regeln" />
</label><br />
	<f:form.textarea property="regeln" cols="40" rows="15" /><br />
<label for="lat">
	<f:translate key="tx_t3dkitecom_domain_model_spot.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_t3dkitecom_domain_model_spot.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="webcam">
	<f:translate key="tx_t3dkitecom_domain_model_spot.webcam" />
</label><br />
	<f:form.textarea property="webcam" cols="40" rows="15" /><br />
<label for="crfeuser">
	<f:translate key="tx_t3dkitecom_domain_model_spot.crfeuser" />
</label><br />
	<f:form.textfield property="crfeuser" /><br />