<div class="row-fluid statistik">
	<div class="stats spot">
		<div class="eck green text-center">
			<div class="icon"><i class="icon-map-marker icon-light"></i></div>
			<br/>Spots<br/>{stats_spot.count}
		</div>
	</div>
	
	<div class="stats schule">
		<div class="eck pink text-center">
			<div class="icon"><i class="icon-bullhorn icon-light"></i></div>
			<br/>Schulen<br/>{stats_schule.count}
		</div>
	</div>
	
	<div class="stats user">
		<div class="eck blue text-center">
			<div class="icon"><i class="icon-user icon-light"></i></div>
			<br/>User<br/>{stats_user.0.count}
		</div>		
		<div class="user_small">
			<div class="ecksmall blue text-right">
				Kiter {stats_user.kiter.count}
			</div>	
			<div class="ecksmall blue text-right">
				Lehrer {stats_user.lehrer.count}
			</div>
			<div class="ecksmall blue text-right">
				ProRider {stats_user.pro.count}
			</div>	
		</div>
	</div>

</div>