    <!-- Modal -->
    <div id="infoSearchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hilfe zur Suche</h3>
    </div>
    <div class="modal-body">
    <p>Zurzeit haben Sie keine Suchbegriffe eingegeben, was einen längeren Ladevorgang bedeuten kann.</p>

<!--    
    <f:render partial="Search/Icons.html" />
    <br>
    <f:render partial="Search/Auflistung.html" />
    <br>
	<f:render partial="Search/Sortierung.html" />    
-->
    </div>
    <div class="modal-footer">
    <button class="btn cancel" data-dismiss="modal" aria-hidden="true">Zurück</button>
    <button class="btn btn-primary ok" data-dismiss="modal" aria-hidden="true">Trotzdem suchen</button>
    </div>
    </div>