
<div class="detail">
<div class="row-fluid">
	<div class="span4">
		<h1 class="big shadow"><i class="icon-user blue headerbox"></i> {user.username}</h1>
	</div>
	<div class="span2 pull-right">
		<div class="icons">
			<div class="pull-right userinteraction">
					<i class="icon-heart"></i> {user.likes}
					<i class="icon-bookmark"></i> {user.favorite}
			</div>			
			
		</div>
	</div>	
</div>

<div class="row-fluid navi">
	<div class="span10">
		<div class="detail_nav" >
			<ul data-offset-top="5" class="nav">
				<li><a href="#bilder">Bilder</a></li>
				<li><a href="#infos">Infos</a></li>				
				<li><a href="#myplaces">Meine Favoriten</a></li>
				<li><a href="#kommentare">Kommentare</a></li>
				
				
			</ul>
		</div>
	</div>

</div>

<div class="fluid-container" id="bgimages">
<div class="row-fluid">

<div id="bilder" class="fotorama" data-width="100%" data-keyboard="true" data-arrows="true" data-click="true" data-swipe="true" data-trackpad="true" data-ratio="16/9" data-min-height="300" data-max-height="408" data-allow-full-screen="native" data-fit="scaledown" data-nav="thumbs" data-keyboard="true" data-autoplay="true" data-transition="slide">
 	<f:for each="{user.images}" as="image">
 		<img src="fileadmin/fileupload/server/php/{image.userid}/{image.katid}/{image.elid}/gallery/{image.name}" alt="{image.name}">
 	</f:for>
 	<div class="progress_bar"></div>
</div>
	<f:comment>
	<div id="upload_gallery" class="span12" data-uid="{user.uid}" data-cat="user" data-user="3" data-section="gallery">
		<f:render partial="user/Bildupload" arguments="{uid:user.uid, cat:'user', user:3, section:'gallery'}" />
	</div>
	</f:comment>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span9">
				

				<section id="infos">
					<div class="flag"><p class="pull-right">Infos / Service <i class="icon-flag"></i></p></div>				
					<div class="row-fluid">
						<div class="span4">
							<h2 class="small gray">Statistiken</h2>
						</div>
						<div class="span4">
							<h2 class="small gray">Lieblingskites</h2>
							<div>{user.lieblinkskite}</div>							
						</div>
						<div class="span4">
							<h2 class="small gray">Lieblingsmarke</h2>
							<div>{user.lieblingsmakre}</div>							
						</div>						
					</div>
				</section>

				<section id="myplaces">
					<div class="flag"><p class="pull-right">Meine Favoriten <i class="icon-flag"></i></p></div>				
					<div class="row-fluid">
						<div class="span4">
							<h2 class="small gray">Hausspot</h2>
							<div>{user.hausspot}</div>														
						</div>
						<div class="span4">
							<h2 class="small gray">Meine Favoriten</h2>
							<div>{user.favorites}</div>														
						</div>
						<div class="span4">
							<h2 class="small gray">Gelernt bei</h2>
							<div></div>							
						</div>						
					</div>
				</section>		
				
				
				<section id="kommentare">
					<div class="flag"><p class="pull-right">Kommentare <i class="icon-flag"></i></p></div>					
					<div class="row-fluid">
						<br>
						<div id="disqus_thread"></div>
					<f:security.ifAuthenticated><f:then>						
						
					    <script type="text/javascript">

							var disqus_config = function() {
								this.page.remote_auth_s3 = '{disqus.message} {disqus.hmac} {disqus.timestamp}';
								this.page.api_key = 'CduDazJDXhAfeJ2cIADvFfRjo9JdavYo3IrvHvtpvVx84hbY4F0jBaQVyyGZilKC';
							}

					        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					        var disqus_shortname = 'kitecom'; // required: replace example with your forum shortname
					
					        /* * * DON'T EDIT BELOW THIS LINE * * */
					        (function() {
					            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					        })();
					    </script>
					</f:then>
					<f:else>
						Sie müssen Sich anmelden um Kommentare zu schreiben.
					</f:else>
					
					</f:security.ifAuthenticated>
					    
					</div>
				</section>				
				
				
		
				
			</div>
			<div class="span3">
				<section id="service">
					<h2 class="small gray">Service</h2>
				    <div class="attribute span12">
						<div class="attribut{user.schlafmoeglichkeit}"><f:if condition="{user.schlafmoeglichkeit}"><f:then><i class="icon-ok-sign"></i></f:then><f:else><i class="icon-minus-sign"></i></f:else></f:if> Bietet Schlafmöglichkeit</div>
						<div class="attribut{user.jobsearch}"><f:if condition="{user.jobsearch}"><f:then><i class="icon-ok-sign"></i></f:then><f:else><i class="icon-minus-sign"></i></f:else></f:if> Sucht Job als Lehrer</div>
				    </div>
				</section>
			    <br>
			    <h2 class="small gray">Koordinaten</h2>
			    <div class="span12" id="singleMap"></div>
			    <div class="koordinaten">
				    <div>{user.lat}, {user.lng}</div>
					<br>
				    <div>
					{user.ort} {user.stadt} {user.land}<br>
					{user.adresse}<br>
				    </div>
					<f:comment>
					<br>
					<div>
					<i class="icon-phone"></i> {user.tel}<br>
					<i class="icon-envelope-alt"></i> {user.email}<br>
					<i class="icon-globe"></i> {user.url}<br>
					</div>
					</f:comment>
			    </div>
			   
			   


				<f:comment>
					<f:security.ifAuthenticated><f:then>
					    <p><a href="#" class="iLike btn orange" data-uid="{user.uid}" data-show="user"><i class="icon-heart"></i> Like</a></p>	
					    <p><a href="#" class="myVisitedPlace btn orange" data-uid="{user.uid}" data-show="user"><i class="icon-flag"></i> Ich war hier</a></p>
						<p><a href="#" class="myStudy btn orange" data-uid="{user.uid}" data-show="user"><i class="icon-group"></i> Ich war Schüler</a></p>	    	
					    <p><a href="#" class="myFavorit btn orange" data-uid="{user.uid}" data-show="user"><i class="icon-bookmark"></i> Mein Favorit</a></p>
					</f:then></f:security.ifAuthenticated>
				</f:comment>
				
				<f:comment>
	
					<f:security.ifAuthenticated><f:then>
					<f:if condition="{user.myRating.likes} < 1">
						<f:then>
						<p><a href="#" class="iLike btn orange" data-state="1" data-uid="{user.uid}" data-show="school"><i class="icon-heart"></i> Like</a></p>			
						</f:then>
						<f:else>
							<p><a href="#" class="iLike btn orange" data-state="0" data-uid="{user.uid}" data-show="school"><i class="icon-heart"></i> Like <i class="icon-minus-sign"></i></a></p>		
						</f:else>
					</f:if>
					<f:if condition="{user.myRating.wasthere} < 1">
						<f:then>
								<p><a href="#" class="myVisitedPlace btn orange" data-state="1" data-uid="{user.uid}" data-show="school"><i class="icon-flag"></i> Ich war hier</a></p>
						</f:then>
						<f:else>
							<p><a href="#" class="myVisitedPlace btn orange" data-state="0" data-uid="{user.uid}" data-show="school"><i class="icon-flag"></i> Ich war hier <i class="icon-minus-sign"></i></a></p>
						</f:else>
					</f:if>	
					<f:if condition="{user.myRating.student} < 1">
						<f:then>
							<p><a href="#" class="myStudy btn orange" data-state="1" data-uid="{user.uid}" data-show="school"><i class="icon-group"></i> Ich war Schüler</a></p>
						</f:then>
						<f:else>
							<p><a href="#" class="myStudy btn orange" data-state="0" data-uid="{user.uid}" data-show="school"><i class="icon-group"></i> Ich war Schüler <i class="icon-minus-sign"></i></a></p>
						</f:else>
					</f:if>	
					<f:if condition="{user.myRating.favorite} < 1">
						<f:then>
							<p><a href="#" class="myFavorit btn orange" data-state="1" data-uid="{user.uid}" data-show="school"><i class="icon-bookmark"></i> Mein Favorit</a></p>
						</f:then>
						<f:else>
							<p><a href="#" class="myFavorit btn orange" data-state="0" data-uid="{user.uid}" data-show="school"><i class="icon-bookmark"></i> Mein Favorit <i class="icon-minus-sign"></i></a></p>
						</f:else>
					</f:if>
					
				</f:then></f:security.ifAuthenticated>
				</f:comment>
			 	
			</div>				
		</div>
	</div>
</div>

</div> 
</div>
<script>



	jQuery(function() {
	

		//Detailseite

	    $('.detail_nav ul li a').bind('click', function(e) {
	        e.preventDefault();
	        var height = $(this.hash).offset().top;
	        height = parseInt(height)-75;
	        $('html,body').animate({scrollTop: height});                                                         
	        return false;
	    });	
		  	
		$('#detailPage').scrollspy({ target: '.detail_nav ul li a' });		  	

	});	
	
	$(document).ready(function(){

	    var map;
		<f:if condition="{user.lat}">
		var lat = {user.lat}
		var lng = {user.lng}		
	    var myLatlng = new google.maps.LatLng(lat,lng);
	    var mapOptions = {
	        center: myLatlng, // Set our point as the centre location
	        zoom: 13, // Set the zoom level
			maxZoom: 14,
	    };
	    bounds = new google.maps.LatLngBounds();
	    bounds.extend(myLatlng);
        
	    // Display a map on the page
	    map = new google.maps.Map(document.getElementById("singleMap"), mapOptions);
	
	    // Add a marker to the map based on our coordinates
	    var marker = new google.maps.Marker({
	        position: myLatlng,
			icon: '/fileadmin/templates/img/icon_user.png',
	        map: map
	    });	
	    
		//google.maps.visualRefresh = true;
		setTimeout(function(){
		    $('#singleMap').width = '100%';
		    $('#singleMap').height = '280px';
		    google.maps.event.trigger(map, 'resize');
		    map.setZoom(map.getZoom());
			map.fitBounds(bounds);	
		}, 3000);
		</f:if>
		
		$('.detail_nav .nav').affix({
            offset: 127
		});

		



	});
	
/*
 $("#bgimages").backstretch([
 	<f:for each="{user.images}" as="image">
 		"fileadmin/fileupload/server/php/{image.userid}/{image.katid}/{image.elid}/gallery/{image.name}",
 	</f:for>
 	], {duration: 6000, fade: 1250});
*/
	
</script>



