<label for="lat">
	<f:translate key="tx_t3dkitecom_domain_model_user.lat" />
</label><br />
	<f:form.textfield property="lat" /><br />
<label for="lng">
	<f:translate key="tx_t3dkitecom_domain_model_user.lng" />
</label><br />
	<f:form.textfield property="lng" /><br />
<label for="suche">
	<f:translate key="tx_t3dkitecom_domain_model_user.suche" />
</label><br />
	<f:form.textfield property="suche" /><br />
<label for="ort">
	<f:translate key="tx_t3dkitecom_domain_model_user.ort" />
</label><br />
	<f:form.textfield property="ort" /><br />
<label for="stadt">
	<f:translate key="tx_t3dkitecom_domain_model_user.stadt" />
</label><br />
	<f:form.textfield property="stadt" /><br />
<label for="land">
	<f:translate key="tx_t3dkitecom_domain_model_user.land" />
</label><br />
	<f:form.textfield property="land" /><br />
<label for="newsletter">
	<f:translate key="tx_t3dkitecom_domain_model_user.newsletter" />
</label><br />
	<f:form.checkbox property="newsletter" value="1" /><br />
<label for="schlafmoeglichkeit">
	<f:translate key="tx_t3dkitecom_domain_model_user.schlafmoeglichkeit" />
</label><br />
	<f:form.checkbox property="schlafmoeglichkeit" value="1" /><br />
<label for="lieblingsmakre">
	<f:translate key="tx_t3dkitecom_domain_model_user.lieblingsmakre" />
</label><br />
	<f:form.textfield property="lieblingsmakre" /><br />
<label for="lieblingsspot">
	<f:translate key="tx_t3dkitecom_domain_model_user.lieblingsspot" />
</label><br />
	<f:form.textfield property="lieblingsspot" /><br />
<label for="hausspot">
	<f:translate key="tx_t3dkitecom_domain_model_user.hausspot" />
</label><br />
	<f:form.textfield property="hausspot" /><br />
<label for="jobsearch">
	<f:translate key="tx_t3dkitecom_domain_model_user.jobsearch" />
</label><br />
	<f:form.checkbox property="jobsearch" value="1" /><br />
<label for="company">
	<f:translate key="tx_t3dkitecom_domain_model_user.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="lastcompany">
	<f:translate key="tx_t3dkitecom_domain_model_user.lastcompany" />
</label><br />
	<f:form.textfield property="lastcompany" /><br />
<label for="lieblinkskite">
	<f:translate key="tx_t3dkitecom_domain_model_user.lieblinkskite" />
</label><br />
	<f:form.textarea property="lieblinkskite" cols="40" rows="15" /><br />
<label for="geburtsdatum">
	<f:translate key="tx_t3dkitecom_domain_model_user.geburtsdatum" />
</label><br />
	<f:form.textfield property="geburtsdatum" /><br />
<label for="hauptbild">
	<f:translate key="tx_t3dkitecom_domain_model_user.hauptbild" />
</label><br />
	<f:form.textfield property="hauptbild" /><br />