<table class="tx-t3d-kitecom" >
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lat" />
		</td>
		<td>
			{user.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lng" />
		</td>
		<td>
			{user.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.suche" />
		</td>
		<td>
			{user.suche}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.ort" />
		</td>
		<td>
			{user.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.stadt" />
		</td>
		<td>
			{user.stadt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.land" />
		</td>
		<td>
			{user.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.newsletter" />
		</td>
		<td>
			{user.newsletter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.schlafmoeglichkeit" />
		</td>
		<td>
			{user.schlafmoeglichkeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lieblingsmakre" />
		</td>
		<td>
			{user.lieblingsmakre}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lieblingsspot" />
		</td>
		<td>
			{user.lieblingsspot}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.hausspot" />
		</td>
		<td>
			{user.hausspot}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.jobsearch" />
		</td>
		<td>
			{user.jobsearch}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.company" />
		</td>
		<td>
			{user.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lastcompany" />
		</td>
		<td>
			{user.lastcompany}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.lieblinkskite" />
		</td>
		<td>
			{user.lieblinkskite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.geburtsdatum" />
		</td>
		<td>
			{user.geburtsdatum}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_user.hauptbild" />
		</td>
		<td>
			{user.hauptbild}
		</td>
	</tr>
</table>