<table class="tx-t3d-kitecom" >
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_media.userid" />
		</td>
		<td>
			{media.userid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_media.katid" />
		</td>
		<td>
			{media.katid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_media.elid" />
		</td>
		<td>
			{media.elid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_media.name" />
		</td>
		<td>
			{media.name}
		</td>
	</tr>
</table>