<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Spot</h1>

<f:flashMessages />

<table  class="tx_t3dkitecom" >
	<tr>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.name" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.ort" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.stadt" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.land" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.anfaenger" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.fortgeschrittene" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.profis" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.hauptbild" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.flachwasser" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.rettungsdienst" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.wellen" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.schule" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.parkplatz" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.startlandehilfe" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.grossereinstieg" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.sandplatz" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.wc" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.stehrevier" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.beschreibung" /></th>
		<th><f:translate key="tx_t3dkitecom_domain_model_spot.regeln" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{spots}" as="spot">
		<tr>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.ort}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.stadt}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.land}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.anfaenger}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.fortgeschrittene}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.profis}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.hauptbild}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.flachwasser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.rettungsdienst}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.wellen}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.schule}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.parkplatz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.startlandehilfe}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.grossereinstieg}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.sandplatz}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.wc}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.stehrevier}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.beschreibung}</f:link.action></td>
			<td><f:link.action action="show" arguments="{spot : spot}"> {spot.regeln}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{spot : spot}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{spot : spot}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Spot</f:link.action>
</f:section>