<f:layout name="Default" />
<f:section name="main">
<h1 class="big shadow"><i class="icon-map-marker green headerbox"></i> {result.name}</h1>
<div class="pull-right userinteraction">
	<i class="icon-heart"></i> {result.likes}
	<i class="icon-flag"></i> {result.wasthere}
	<i class="icon-pushpin"></i> {result.local}							
	<i class="icon-bookmark"></i> {result.favorite}
</div>
<div class="clearfix"></div>
<h2 class="small gray">Preview</h2>
<div class="bg_preview">
				
	<table class="tx-t3d-kitecom" >
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.name" />
		</td>
		<td>
			{result.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.ort" />
		</td>
		<td>
			{result.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.stadt" />
		</td>
		<td>
			{result.stadt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.land" />
		</td>
		<td>
			{result.land}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.anfaenger" />
		</td>
		<td>
			{result.anfaenger}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.fortgeschrittene" />
		</td>
		<td>
			{result.fortgeschrittene}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.profis" />
		</td>
		<td>
			{result.profis}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.beschreibung" />
		</td>
		<td>
			{result.beschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.regeln" />
		</td>
		<td>
			{result.regeln}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.lat" />
		</td>
		<td>
			{result.lat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.lng" />
		</td>
		<td>
			{result.lng}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_t3dkitecom_domain_model_spot.webcam" />
		</td>
		<td>
			{result.webcam}
		</td>
	</tr>
</table>				
<div class="contentbox_border"></div>					    				
</div>


</f:section>